#fluxograma {
  /* zoom: 0.4; */
  /* transform: scale(0.4); */
  color: var(--texto-color);
}

.page_a4 {
  background-color: var(--bg-color);
  border: 1px solid var(--border-color);
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.App_header {
  text-align: center;
  align-items: center;
  margin-top: 3%;
  justify-content: center;
  /* font-size: calc(10px + 2vmin); */
}

.App_header_titulo {
  font-size: calc(20px + 1vmin);
  font-weight: bold;
}

.conteudo__fluxo {
  margin-bottom: 3%;
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.fluxo {
  margin-top: 3%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  /*flex-wrap: wrap;*/
}

.somatorias {
  position: absolute;
  bottom: 0px;
  right: 0px;
  display: flex;
  margin-right: 3%;
  flex-direction: row;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.periodo__container {
  display: flex;
  margin: 0 30px;
  flex-direction: column;
  position: relative;
}

/*

:nth-child(2n+1) > assim pula uma linha

*/

/*PEGAR ULTIMO ELEMENTO*/
.periodo__container_disciplinas:last-child {
  margin-top: 20px;
  position: absolute;
  bottom: -70px;
  left: 0;
  right: 0;
}

/*PEGAR PENULTIMO ELEMENTO*/
.periodo__container_disciplinas:nth-last-child(-n + 2) {
  margin-bottom: 70px;
}

.periodo__container_textoperiodo {
  border: 1px solid var(--border-color);
  padding: 4px 24px;
  text-align: center;
  font-size: calc(10px + 1vmin);
}

.periodo__container_disciplinas {
  margin-top: 20px;
  border: 1px solid var(--border-color);
  /* padding: 4px 24px; */
  display: flex;
  flex-direction: column;
}

.periodo__container_disciplinas_cred_codigo {
  display: flex;
  width: 100%;
  justify-content: space-between;
  font-size: calc(7px + 1vmin);
  padding: 0px;
  text-align: center;
}

.cred_codigo__creditos {
  border-right: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  padding: 0.1rem 0.6rem;
  display: inline-block;
  text-align: center;
}
.cred_codigo__vazio {
  display: inline-block;
  text-align: center;
  padding: 0.1rem 0.2rem;
  flex: 1;
}
.cred_codigo__codigo {
  text-align: center;
  display: inline-block;
  border-left: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  padding: 0.1rem 0.2rem;
}

.periodo__container_disciplinas_nome,
.periodo__container_disciplinas_carga__horaria,
.periodo__container_totalcreditos_carga__horaria {
  text-align: center;
  padding: 0.2rem 0.2rem;
  font-size: calc(10px + 1vmin);
}

.periodo__container_disciplinas_nome {
  padding: 2rem 0.2rem !important;
}

.periodo__container_disciplinas_carga__horaria {
  border-top: 1px solid var(--border-color);
}

table {
  margin-top: 20px;
  border-collapse: collapse;
  page-break-after: always;
}

.gridlines td {
  border: 1px dotted var(--border-color);
}

.gridlines th {
  border: 1px dotted var(--border-color);
}

.b {
  text-align: center;
}

.s {
  text-align: left;
  padding-right: 1rem;
}

td.style1,
td.style2 {
  vertical-align: middle;
  border-bottom: 1px solid var(--border-color) !important;
  border-top: 1px solid var(--border-color) !important;
  border-left: 1px solid var(--border-color) !important;
  border-right: 1px solid var(--border-color) !important;
  padding: 0.2rem 1rem;
  font-size: calc(10px + 1vmin);
  color: var(--texto-color);
}

@media print {
  .page_a4 {
    transform: scale(0.7);
  }
  table {
    page-break-inside: avoid;
  }
  .no-print,
  .no-print * {
    display: none !important;
  }
}
