* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg-page);
  font-size: 12px;
  color: var(--texto-color);
  margin: 0;
  padding: 0;
  font-family: 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --bg-color: #fff;
  --border-color: #000;
  --texto-color: #232323;
  
  --dark-bg-color: #282c34;
  --dark-border-color: #FFF;
  --dark-texto-color: #FFF;
  --bg-page: #F9FBFD;
}